.header {
  padding-top: 40px;
}

.logo {
  width: 30%;
  height: 600px;
  float: left;
  background-color: teal;
}

.nav {
  background-color: tomato;
  width: 70%;
  height: 600px;
  float: right;
  padding-left: 40px;
  display: flex;

  @include mq(mobile-only) {
    display: none;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
}
.header__list {
  display: flex;
}
.header__item {
}
.header__link {
}
.header__contacts {
}
.header__phone {
}
.header__button {
}
.header__menu {
  @include mq(tablet) {
    display: none;
  }
}

.menu-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: transparent;
  outline: transparent;
}
.header__icon {
}
.header__icon--open {
  opacity: 0;
  transform: scale(1) rotate(0) translateY(0);
  transform-origin: center;
  transition: opacity 400ms ease, transform 400ms ease;
}
.header__icon--close {
  opacity: 1;
  transform: scale(1) rotate(0) translateY(0);
  transform-origin: center;
  transition: opacity 400ms ease, transform 400ms ease;
}

.menu-button.is-open .header__icon--close {
  opacity: 0;
}
.menu-button.is-open .header__icon--open {
  opacity: 1;
}
